{namespace quadManager.talk}
/**
 * @param action 提交地址
 * @param id 记录ID
 * @param message 消息信息
 */
{template .form}
<form action="{$action}" method="post">
<input type="hidden" name="id" value="{if $id != null}{$id}{/if}" />
<p><textarea placeholder="请添加自动回答信息" name="message">{if $message != null}{$message}{/if}</textarea></p>
<p class="submit"><input type="submit" value="{if $id != null}更新{else}添加{/if}"　/></p>

</form>
{/template}