{namespace xn.demo}
/**
 * 
 */
{template .footer}
<div>
	<span class="description">人人网©{DATE.year}</span>
</div>
<div class="description">北京千橡网景科技发展有限公司：文网文[2009]169号 · 京ICP证090254号 · 京公网安备110000000009</div>
{/template}