{namespace xn.demo}
/**
 *@param logo 
 */
{template .header}
<div class="{css header}">
		<img src="{$logo}" />
		<div class="nav">
			<a href="" >产品下载</a>
			<a href="" >手机人人网</a>
			<a href="" >短信彩信服务</a>
			<a href="" >帮助中心</a>
		</div>
		<div class="login">
			<a href="">人人网首页</a>
			<a href="">注册帐号</a>
		</div>
	</div>
{/template}