{namespace quad}
/**
 * 图片的弹层
 * @param src 图的地址
 */
{template .converImage}

<section id="image-conver" class="image-conver">
  <a  title="close" class="close"></a>
  <img src="{$src}" alt="" />
<section>
{/template}