{namespace pad}
/**
 * 3801 新鲜事类型
 * @param type 新鲜事类型
 * @param title 新鲜事标题
 * @param description 描述信息
 */
{template .f3803}
	<li  class="f{$type}">
		<span>{$title }</span>
		<p>{$description}</p>
	</li>
{/template}