{namespace pad}
/**
 * pad 住版本呢控制
 * 
 */
{template .main}
/*
 *头部导航 
 */
<nav class="top-bar"></nav>
<div class="content-list">
	新鲜事列表
</div>
/*
 * 底部工具栏
 */
<nav class="bottom-bar"></nav>
{/template}