
{namespace xnTemplate.feed}
/**
 * Feed: 状态 type:status  
 * @param user_name 用户名
 * @param user_id 用户ID
 * @param head_url 用户头像
 */
{template .user_avatar}

		<em _c="O.pM([n:'{$user_name}',i:'{$user_id}'])" style="background-image:url({$head_url})"></em>
	
		
{/template}











