{namespace examples.simple}
/**
 * Says hello to a person.
 * @param feed_list 新鲜事列表
 */
{template .feed}
 <ul>
 {foreach $feed in $feed_list}
 		<li>
 		{switch $feed.type}
 			{case 502}
 				{call xnTemplate.feed.status_update data="$feed"}
 					{param feed:$feed /}
 				{/call}			
			{default} 		 		 	
  	    		{call xnTemplate.feed.defaultFeed data="$feed"}
  	    			{param feed:$feed /}
  	    		{/call}		
 		{/switch}
 		
		{ifempty}
  			0
  	 </li>	
   {/foreach}
 </ul> 
{/template}