{namespace examples.simple}/** * 信念测试的tmp 目录 * @param filelist 文件列表 */{template .filelist}  <ul>  {foreach $file in $filelist}     <li><a _href="{$file.url}">{$file.name}</a></li>  {ifempty}   0  {/foreach}    </ul>{/template}